@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  //colours
  --primary-color: #00c8a0;
  --secondary-color: #50596f;
  --base-color: #494454;
  --text-color: #f7ebff;
}

html,
body {
  font-family: Inter;
  background-color: var(--base-color);
  color: var(--text-color);
}

a {
  color: var(--text-color);
  &:hover {
    text-decoration: none;
    color: var(--primary-color);
  }
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}
