@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
  //colours
  --primary-color: #00C8A0;
  --secondary-color: #50596F;
  --base-color: #494454;
  --text-color: #F7EBFF;
}

html, body {
  font-family: Inter;
  background-color: var(--base-color);
  color: var(--text-color);
}

a {
  color: var(--text-color);
  &:hover{
    text-decoration: none;
    color: var(--primary-color);
  }
}
